.shiftnav-content-wrap{
	25px;
}

.list-item{
	height: 50px;
	width:100%;
	border:2px solid black;
	border-radius:10px;
	margin-bottom: 10px;
	margin-top: 10px;
  background-color: -moz-field;
  box-shadow: 1px 1px 1px 0 lightgray inset;  
  display:inline-table;
  clear:both;
}

.list-input{
	height:50px;
	width:78%;
	line-height: 50px;
	vertical-align: middle;
	font-size: 20px;
	-moz-appearance: textfield;
  -webkit-appearance: textfield;
  font: -moz-field;
  float:left;
  white-space: nowrap;
  overflow: hidden;
}

#add-button{
	height : 30px;
	width:100px;
	border: 2px solid gray;
	border-radius:10px;
	font-size: 22px;
	text-align: center;
	cursor:pointer;
}

.remove-item{
	height: 30px;
	width: 30px;
	border: 2px;
	border-radius:20px;
	background-color: red;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 1.25%;
	float: right;
	cursor:pointer;
	text-align: center;
	line-height: 30px;
	color:white;
	vertical-align: middle;
	font-family: 'Helvetica';
}

.checkbox-item{
  height: 30px;
  width: 30px;
  border: 2px solid gray;
  margin-bottom:10px;
  margin-top:10px;
  margin-right:1.25%;
  float:right;
  cursor:pointer;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  color:gray;
  font-size:25px;
}
